:root{
    --cor-fundo: #01080E ;
    --cor-principal: #0b0d20 ;
    --cor-secundaria: #212333 ;
    --cor-destaque: #38defd ;
    --cor-texto: #d7f9ff ;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}